<div id="absoluteCenteredDiv">
  <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">
    <div class="box">
      <h1>Forgot Password</h1>
      <input type="email" class="inputter" formControlName="email" placeholder="Email">
      <div class="error" *ngIf="forgotPwdForm.controls['email'].errors?.required && forgotPwdForm.controls['email'].touched">  <!-- errors?   will not cause problems if errors is null -->
        Email is required
      </div>
      <div class="error" *ngIf="forgotPwdForm.controls['email'].errors?.email">
        Valid email Required
      </div>
      <button class="button">Submit</button>
    </div>
  </form>
  <p>Already reset password? <a class="fpwd" [routerLink]="['/']">Click Here!</a></p>
</div>
