<div id="absoluteCenteredDiv">
  <form [formGroup]="resetPassword" (ngSubmit)="reset()">
    <div class="box">
      <h1>Reset Password</h1>
      <input type="password" class="inputter" formControlName="password" placeholder="Password">
      <div class="error" *ngIf="resetPassword.controls['password'].errors?.required && resetPassword.controls['password'].touched">  <!-- errors?   will not cause problems if errors is null -->
        Password is required
      </div>
      <input type="password" class="inputter" formControlName="cpassword" placeholder="Confirm Password">
      <div class="error" *ngIf="resetPassword.controls['cpassword'].errors?.required && resetPassword.controls['cpassword'].touched">  <!-- errors?   will not cause problems if errors is null -->
        Confirm Password is required
      </div>
      <div class="error" *ngIf="resetPassword.errors">
        Confirm Password does not match
      </div>

      <button class="button">Submit</button>
    </div>
  </form>
  <p>Already reset password? <a class="fpwd" [routerLink]="['/']">Click Here!</a></p>
</div>
