<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <h1 id="title">Login</h1>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
          <span class="error">Email is Required</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
          <span class="error">Password is Required</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
