<app-navbar></app-navbar>


<div class="container">
  <div class="row">
    <h1 id="title">Sign Up</h1>
    <form class="col s12" [formGroup]="regForm" (ngSubmit)="register()">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" formControlName="username" class="validate">
          <label for="username">Username</label>
          <span class="error" *ngIf="regForm.controls['username'].errors?.required && regForm.controls['username'].touched">Username is Required</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" formControlName="email" class="validate">
          <label for="email">Email</label>
          <span class="error" *ngIf="regForm.controls['email'].errors?.required && regForm.controls['email'].touched">Email is Required</span>
          <span class="error" *ngIf="regForm.controls['email'].errors?.email">Please Enter a Valid email</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" formControlName="passwrd" class="validate">
          <label for="password">Password</label>
          <span class="error" *ngIf="regForm.controls['password'].errors?.required && regForm.controls['password'].touched">Password is Required</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn btn-primary" [disabled]="!regForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>

</div>
